<mat-card class="example-card" >
  <mat-card-header>
    <mat-card-title>Home</mat-card-title>
    <mat-card-subtitle>Projeto base para estudos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas leo nulla, efficitur non leo a, ultrices aliquam metus. Nulla dapibus porta vehicula. Proin a augue turpis. Quisque tempus aliquet blandit. Aliquam erat volutpat. Cras lacinia purus lacus, in semper enim ornare quis. Suspendisse at magna lacinia, consequat nunc sed, suscipit justo. In finibus ut augue ac luctus.

        Phasellus cursus porta odio eget venenatis. Donec eu euismod urna. Pellentesque vel arcu sed neque tempus iaculis vitae nec diam. Sed lectus justo, dignissim nec pretium in, commodo sit amet justo. Proin dapibus velit purus, nec sollicitudin sem gravida a. Praesent blandit nulla id tristique pharetra. Curabitur nec orci varius, varius purus a, dapibus mi. Vivamus pretium turpis eget metus hendrerit, a elementum diam dictum. Donec vitae magna eget nisl mattis elementum. In auctor dignissim tellus, non dictum mauris suscipit a. Quisque sodales maximus libero, dapibus tincidunt tellus egestas eget. Etiam ac congue ante, quis rutrum justo.</p>
  </mat-card-content>
  
</mat-card>
